.App {
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(216, 214, 214);
}

.menu-item {
    color:#FFF;
    position: relative;
      vertical-align: middle;
      line-height: 1;
      padding-top: 1.5em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 24px;
  }

  .menu-item:hover {
    color: rgb(255, 0, 0);
  }

  .image{
    width: 250px;
    height: 70px;
  }

  .ui.banner {
    display: flex;
    background: #0076b6;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 75%);
  }